{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="container-title">
            <h1>Temps forts</h1>

            <a href="{{ url_for('projects.index') }}">
                les projets
            </a>

            {% if g.current_user %}
                <a class="container-title-action add" href="{{ url_for('events.create') }}">
                    Nouvel évènement
                </a>
            {% endif %}
        </div>

        {% include "alerts.html" %}

        {% for group_by_year in events|groupby('date.year')|sort(reverse=True) %}
            {% set year = group_by_year.grouper %}
            <div class="events-by-year folder {{ 'folder-folded' if year > current_date.year }}">
                <h2>
                    <button class="folder-toggle">
                        {{ year }}
                    </button>
                </h2>

                <div class="folder-container">
                    {% for group_by_month in group_by_year.list|groupby('date.month')|sort(reverse=True) %}
                        {% set month = group_by_month.grouper %}
                        <div class="events-by-month folder {{ 'folder-folded' if year == current_date.year and month > current_date.month }}">
                            <h3>
                                <button class="folder-toggle">
                                    {{ month|to_month }}
                                </button>
                            </h3>

                            <ul class="events folder-container">
                                {% for event in group_by_month.list|sort(attribute='date', reverse=True) %}
                                    <li class="event {{ 'event-private' if event.is_private }} {{ 'folder folder-folded' if event.description }}">
                                        <span class="event-date">
                                            {% if event.date_end %}
                                                {% if event.date.month == event.date_end.month %}
                                                    {{ event.date.strftime('%d') }}
                                                    –
                                                    {{ event.date_end.strftime('%d %b') }}
                                                {% else %}
                                                    {{ event.date.strftime('%d %b') }}
                                                    –
                                                    {{ event.date_end.strftime('%d %b') }}
                                                {% endif %}
                                            {% else %}
                                                {{ event.date.strftime('%d %b') }}
                                            {% endif %}
                                        </span>

                                        {% if event.description %}
                                            <button class="folder-toggle">
                                                {{ event.title }}
                                            </button>
                                        {% else %}
                                            {{ event.title }}
                                        {% endif %}

                                        {% if event.project and (g.current_user or not event.project.is_private) %}
                                            <a class="event-project" href="{{ url_for('projects.index') }}#{{ event.project.name|slugify }}">
                                                {{ event.project.name }}
                                            </a>
                                        {% endif %}

                                        {% if g.current_user %}
                                            <div class="event-actions">
                                                <a class="event-update" href="{{ url_for('events.update', event_id=event.id ) }}">
                                                    Modifier
                                                </a>

                                                <button
                                                    class="button-ghost event-delete"
                                                    data-confirm="Êtes-vous certain·e de vouloir supprimer cet évènement ?"
                                                    data-action="{{ url_for('events.delete', event_id=event.id ) }}"
                                                    data-method="delete"
                                                >
                                                    Supprimer
                                                </button>
                                            </div>
                                        {% endif %}

                                        {% if event.description %}
                                            <div class="event-description folder-container">
                                                {{ event.description|markdown }}
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
