{% with error_alerts = get_flashed_messages(category_filter=["error", "message"]) %}
    {% if error_alerts %}
        <div class="alert alert-error" id="alert-error">
            <button class="button-ghost" data-close="alert-error">
                OK
            </button>

            {% for message in error_alerts %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% with success_alerts = get_flashed_messages(category_filter=["success"]) %}
    {% if success_alerts %}
        <div class="alert alert-success" id="alert-success">
            <button class="button-ghost" data-close="alert-success">
                OK
            </button>

            {% for message in success_alerts %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
