{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="container-title">
            <h1>Projets</h1>

            <a href="{{ url_for('events.index') }}">
                les temps forts
            </a>

            {% if g.current_user %}
                <a class="container-title-action add" href="{{ url_for('projects.create') }}">
                    Nouveau projet
                </a>
            {% endif %}
        </div>

        {% include "alerts.html" %}

        {% for project in projects|sort(attribute="name") %}
            <section
                id="{{ project.name|slugify }}"
                class="project {{ 'project-private' if project.is_private }}"
            >
                <div class="{{ 'folder folder-folded' if project.description }}">
                    <header class="project-header">
                        <h2 class="project-name">
                            {% if project.description %}
                                <button class="folder-toggle">
                                    {{ project.name }}
                                </button>
                            {% else %}
                                {{ project.name }}
                            {% endif %}
                        </h2>

                        {% if project.responsible %}
                            <span class="project-responsible">
                                {{ project.responsible }}
                            </span>
                        {% endif %}
                    </header>

                    {% if project.description %}
                        <div class="project-description folder-container">
                            {{ project.description|markdown }}
                        </div>
                    {% endif %}
                </div>

                <ul class="events">
                    {% set events = project.events(with_private=g.current_user)|sort(attribute='date', reverse=True) %}

                    {% for event in events[:3] %}
                        <li class="event {{ 'event-private' if event.is_private }} {{ 'folder folder-folded' if event.description }}">
                            <span class="event-date">
                                {{ event.date.strftime('%d %b %y') }}
                            </span>

                            {% if event.description %}
                                <button class="folder-toggle">
                                    {{ event.title }}
                                </button>
                            {% else %}
                                {{ event.title }}
                            {% endif %}

                            {% if g.current_user %}
                                <div class="event-actions">
                                    <a class="event-update" href="{{ url_for('events.update', event_id=event.id ) }}">
                                        Modifier
                                    </a>

                                    <button
                                        class="button-ghost event-delete"
                                        data-confirm="Êtes-vous certain·e de vouloir supprimer cet évènement ?"
                                        data-action="{{ url_for('events.delete', event_id=event.id ) }}"
                                        data-method="delete"
                                    >
                                        Supprimer
                                    </button>
                                </div>
                            {% endif %}

                            {% if event.description %}
                                <div class="event-description folder-container">
                                    {{ event.description|markdown }}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}

                    {% if events|count > 3 %}
                        <div class="events-more folder folder-folded">
                            <button class="folder-toggle keep-style">
                                Plus…
                            </button>

                            <div class="folder-container">
                                {% for group_by_year in events[3:]|groupby('date.year')|sort(reverse=True) %}
                                    {% set year = group_by_year.grouper %}
                                    <div class="events-by-year">
                                        <h2>
                                            {{ year }}
                                        </h2>

                                        <ul class="events">
                                            {% for event in group_by_year.list|sort(attribute='date', reverse=True) %}
                                                <li class="event {{ 'event-private' if event.is_private }} {{ 'folder folder-folded' if event.description }}">
                                                    <span class="event-date">
                                                        {% if event.date_end %}
                                                            {% if event.date.month == event.date_end.month %}
                                                                {{ event.date.strftime('%d') }}
                                                                –
                                                                {{ event.date_end.strftime('%d %b') }}
                                                            {% else %}
                                                                {{ event.date.strftime('%d %b') }}
                                                                –
                                                                {{ event.date_end.strftime('%d %b') }}
                                                            {% endif %}
                                                        {% else %}
                                                            {{ event.date.strftime('%d %b') }}
                                                        {% endif %}
                                                    </span>

                                                    {% if event.description %}
                                                        <button class="folder-toggle">
                                                            {{ event.title }}
                                                        </button>
                                                    {% else %}
                                                        {{ event.title }}
                                                    {% endif %}

                                                    {% if g.current_user %}
                                                        <div class="event-actions">
                                                            <a class="event-update" href="{{ url_for('events.update', event_id=event.id ) }}">
                                                                Modifier
                                                            </a>

                                                            <button
                                                                class="button-ghost event-delete"
                                                                data-confirm="Êtes-vous certain·e de vouloir supprimer cet évènement ?"
                                                                data-action="{{ url_for('events.delete', event_id=event.id ) }}"
                                                                data-method="delete"
                                                            >
                                                                Supprimer
                                                            </button>
                                                        </div>
                                                    {% endif %}

                                                    {% if event.description %}
                                                        <div class="event-description folder-container">
                                                            {{ event.description|markdown }}
                                                        </div>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </ul>

                {% if g.current_user %}
                    <div class="project-actions">
                        <a class="project-update" href="{{ url_for('projects.update', project_id=project.id) }}">
                            Modifier
                        </a>

                        <button
                            class="button-ghost project-delete"
                            data-confirm="Êtes-vous certain·e de vouloir supprimer ce projet ?"
                            data-action="{{ url_for('projects.delete', project_id=project.id) }}"
                            data-method="delete"
                        >
                            Supprimer
                        </button>
                    </div>
                {% endif %}
            </section>
        {% endfor %}
    </div>
{% endblock %}
