{% extends 'layout.html' %}

{% block content %}
    <div class="container container-small">
        {% if ldap_configured %}
            <h1>Connexion (LDAP)</h1>
        {% else %}
            <h1>Connexion</h1>
        {% endif %}

        <form method="post">
            {% include "alerts.html" %}

            <div class="form-group">
                <label for="username">Nom d’utilisateur</label>
                <input type="text" name="username" id="username" required autofocus />
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" required />
            </div>

            <div class="form-group form-group-actions">
                <button type="submit" class="button-primary">
                    Se connecter
                </button>

                <a href="{{ url_for('index') }}">
                    Retour à l'accueil
                </a>
            </div>
        </form>
    </div>
{% endblock %}
